<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    підключення -->
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <header class="header">hello </header>
    <div>
        welcome to our first application, written in Node js by sep2022
    </div>
    <a href="{{frontUrl}}/activate?token={{token}}">ACTIVATE</a>
    <footer >
        <a href="https://google.com">google</a>
    </footer>

</body>
</html>