<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    підключення -->
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

<header class="header">restore pass</header>
<div>
    Don't worry we control your password. Just follow our steps and will be happy
    <a href="{{frontUrl}}/password/forgot?token={{token}}">Click to restore your pass</a>
</div>
<footer >
    <a href="https://google.com">google</a>
</footer>

</body>
</html>